<!DOCTYPE html>
<html>
  <head>
    <title>FlashcardsApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('flashcards-study-app-logo-192.png') %>
    <!-- Lighthouse Details -->
    <link rel="manifest" crossorigin="use-credentials" href="/manifest.json">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#C50001"/>
  </head>

  <body>
    <% if user_signed_in? %>
      <%= link_to "Logout", destroy_user_session_path, method: :delete, id: 'logout-link' %>
    <% else %>
      <%= link_to "Sign up", new_user_registration_path, id: 'signup-link' %>
      <%= link_to "Login", new_user_session_path, id: 'login-link' %>
    <% end %>
    <%= yield %>
  </body>
</html>
